/* color palette
honeydew : #eaf2e3
cyan : #61e8e1
bittersweet red : #f25757
maize : f2e863
naples yellow : f2cd60 */

/*
chili red : #E3170A
celadon : #A9E5BB
vanilla : #FCF6B1
xanthous : #F7B32B
dark purple : #2D1E2F
 */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    font-family: 'BioRhyme';
    font-size: 6vmin;
    font-weight: bold;
    width: 100%;
    background-color: #fcf6b1;
    padding: 20px;
    margin: 0;
    justify-content: center;
    align-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 5vmin;
    font-family: 'Oxygen';
    font-size: 4vmin;
    color: #f25757;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    gap: 1vmin;
}

.card-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vmin;
    height: 10vmin;
    background-color: #f7b32b;
    font-size: 3em;
    border-radius: 20%;
}

.card-container > div.show-img {
    background-color: white;
    border: white;
}

img {
    width: 10vmin;
    height: 10vmin;
}

.game-controller {
    display: flex;
    background-color: #a9e5bb;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 30px;
}

.game-controller > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'rasa';
    font-size: 3vmin;
}

button {
    background-color: #e3170a;
    padding: 10px;
    color: white;
    font-family: 'Rasa';
    font-size: 4vmin;
    border-radius: 15px;
    /* margin: 5px; */
}

.score {
    background-color: #2d1e2f;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
}

.level {
    background-color: #2d1e2f;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
}

.countdown {
    background-color: #2d1e2f;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
}

.attempt {
    background-color: #2d1e2f;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
}

.match {
    background-color: #2d1e2f;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
}

@media (min-width: 450px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }

    .game-controller {
        display: flex;
        background-color: #a9e5bb;
        padding: 5vmin;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        gap: 5px;
    }
}
