* {
    box-sizing: border-box;
}

body {
    background-color: #eaf2e3;
}

header {
    display: flex;
    width: 100%;
    background-color: yellowgreen;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

main {
    display: flex;
}

.container {
    display: flex;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    margin: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vmin;
    height: 10vmin;
    background-color: orchid;
    border: 3px solid rgb(102, 0, 255);
    font-size: 3em;
    border-radius: 20%;
}

.game-controller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-controller > div {
    display: flex;
    justify-content: center;
}

.score {
}

.level {
}

.countdown {
}

.attempt {
}

.match {
}

.message-on-top {
}

.message-on-top.not-visible {
    display: None;
}

.message-on-top.visible {
    display: flex;
}
